* {
  box-sizing: border-box; 
}

// body 

body {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 80px;
}

// header tags 

h2 {
  color: #004466;
  margin: 0;
  padding: 10px;
  font-size: 50px;
  font-family: Neuton;
  text-align: center;
}


h5 {
  color: black;
  margin: 0;
  padding: 10px;
  font-family: Neuton;
}

// header

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

// Nav bar 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(37, 37, 37);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgb(58, 136, 172);
}


// section 

section, article {
margin: 10px;
padding: 10px; 
}


// article 

#one{
  height: 400px;
   width: 400px;
    background-color: blue;


   #two{
     height: 200px;
     width: 200px;
     background-color: red;
   }
 }




// footer 


footer {
  position: fixed;
  background-color: rgb(37, 37, 37);
  padding: 20px;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: white;
}

footer p {
  font-size: 10px;
  text-indent: 50px;
  text-align: center;
  /* line-height: 1.6; */
 padding: 2px 2px; 
 font-family: sans-serif;
}
 