// #one{
//   height: 400px;
//   width: 400px;
//   background-color: blue;

//   #two{
//     height: 200px;
//     width: 200px;
//     background-color: red;
//   }
// }


* {
  box-sizing: border-box; 
}

// body 

body {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 80px;
}

// header

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

// Nav bar 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(37, 37, 37);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgb(58, 136, 172);
}

.fas fa-globe {
  margin: 0;
  padding: 0;
  float: left;
  display: inline-block;
  
}